name: Rode Branch Environment Setup

on:
  push:
    branches:
      - branch-environments

env:
  NODE_VERSION: '12.16.3'
  TERRAGRUNT_VERSION: '0.28.14'

jobs:
  create-rode-branch-environment:
    name: Create Rode branch environment

    runs-on:
    - self-hosted
    - rode-runners-prod

    steps:
      # Checks out a copy of your repository on the ubuntu-latest machine
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Node Setup
        uses: actions/setup-node@v1
        with:
          node-version: ${{ env.NODE_VERSION }}

      - run: |
          echo "Create branch environment for $GITHUB_REF"
          rode_env_hash=$(echo $GITHUB_REF | sha1sum  | cut -d ' ' -f 1 | cut -c1-8)
          echo "RODE_ENV_HASH=$rode_env_hash" >> $GITHUB_ENV
      - run: |
          echo "environment hash: ${RODE_ENV_HASH}"


      - name: Install Helm
        run: curl https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3 | bash

      - name: Setup TF
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 0.14.9

      - name: Setup Terragrunt
        run: |
          curl -f -Lo terragrunt https://github.com/gruntwork-io/terragrunt/releases/download/v${{env.TERRAGRUNT_VERSION}}/terragrunt_linux_amd64 && \
          chmod +x terragrunt

      - name: Terragrunt plan
        run: ./terragrunt plan --terragrunt-non-interactive --terragrunt-working-dir ./tf/environments/aws/branch_env

      - name: Terragrunt plan destroy
        run: ./terragrunt plan --terragrunt-non-interactive --terragrunt-working-dir ./tf/environments/aws/branch_env -refresh=false -destroy

      - name: Terragrunt destroy
        run: ./terragrunt destroy --terragrunt-non-interactive --terragrunt-working-dir ./tf/environments/aws/branch_env -refresh=false  -auto-approve
#      - name: Apply
#        run: ./terragrunt apply -auto-approve --terragrunt-working-dir ./tf/environments/aws/prod
#
